body {
	font-family: helvetica, sans-serif;
	line-height: 125%;
	background-color: #f7f7f6;
}

.wrapper {
	width: 90%;
	max-width: 800px;
	padding: 40px;
	margin: auto;
	border: 1px solid #443094;
	background-color: #f0f0f0;
}

.editable {
	border: 1.5px dashed #443094;
	cursor: pointer;
	margin: 35px auto;
	padding: 10px;
	background-color: #f7f7f7;
}

.editable--active {
	background-color: #d9d9d9;
}

table {
	margin: auto;
	padding: 3px;
}

td, tr { 
	padding: 5px; 
}

td {
	border: 1px solid #443094;
}

a {
	display: block;
	position: relative;
	width: 45%;
	max-width: 800px;
	margin: 10px auto;
	padding: 10px;
	color: white;
	background-color: #443094;
	border: 1px solid #443094;
	text-align: center;
	text-decoration: none;
	opacity: 1;
	font-family: inherit;
	font-size: 16px;
	font-weight: 100;
	cursor: pointer;
}

a:hover { 
	opacity: .6;
}

h1, h2, p {
	padding: 3px;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

p, table {
	font-size: 14px;
}

.hallotoolbar {
	padding: 5px;
}