body {
	font-family: helvetica, sans-serif;
}

.wrapper {
	width: 90%;
	max-width: 800px;
	margin: auto;
	padding: 40px;
	background-color: #e4e4e4;
}

.modified {
	font-size: 18px;
	font-weight: lighter;
	text-align: center;
}

.editable {
	cursor: pointer;
	margin: 35px auto;
	padding: 10px;
	background-color: white;
	font-size: 16px;
	font-weight: lighter;
}

.editable--active {
	border: solid 2px;
	border-color: #9D3384;
	outline: none;
	font-size: 16px;
	font-weight: lighter;
}

.hallotoolbar {
	padding: 5px;
}

h1, h2, p {
	margin: auto;
	padding: 5px;
	font-size: 16px;
	font-weight: lighter;
}

table {
	margin: auto;
	padding: 5px;
	font-size: 16px;
	font-weight: lighter;
}

td, tr { 
	padding: 5px; 
}

td {
	border: 1px solid #ccc;
}

a {
	display: block;
	position: relative;
	width: 25%;
	max-width: 800px;
	margin: 10px auto;
	padding: 10px;
	border: solid 3px;
	border-color: #323232;
	border-radius: 8px;
	color: #323232;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-weight: lighter;
	cursor: pointer;
}

a:hover { 
	opacity: .8;
}
